{% load static %}

<section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for testimonials in testimonial  %}
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <div class="d-flex align-items-center">
                          {% if 'http' in testimonials.img %}
                            <img src="{{ testimonials.img }}" class="testimonial-img flex-shrink-0" alt="">
                          {% else %}

                            <img src="{% static testimonials.img %}" class="testimonial-img flex-shrink-0" alt="">
                          {% endif %}
                        <div>
                          <h3>{{testimonials.user_name}}</h3>
                          <h4>{{testimonials.job_title}}</h4>
                          <div class="stars">
                              {% for i in 'x'|ljust:testimonials.count_rating %}
                                  <i class="bi bi-star-fill"></i>
                              {% endfor %}
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        {{testimonials.description_review }}
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
            {% endfor %}



          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->